<head>
    <script src="main.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="variables.css">
</head>
<body>
    <div class="login">
        <div class="login__container">
            <div class="login__container__logo">
                <img src="https://cdn.tnoorman.nl/project/rs/logo.png" alt="">
                <span class="seperate"></span>
                <h4>Reserveringssysteem</h4>
            </div>
            <form action="/authenticate" class="login__form" method="POST">
                <div class="login__form__group">
                    <input type="text" name="username" id="username" autocomplete="off" required>
                    <label for="username">Gebruikersnaam</label>
                </div>
                <div class="login__form__group">
                    <input type="password" name="password" id="password" required>
                    <label for="password">Wachtwoord</label>
                </div>
                <input type="button" id="loginBtn" value="login" class="btn">
            </form>
        </div>
        <footer class="footer">
            <div class="footer__copyright">
                <p>Copyright © 2019 SBTN. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>