<%- include ../models/header.ejs %>
<head>
    <title>pagina niet gevonden</title>
    <script src="page-not-found.js"></script>
</head>
<body>
    <div class="content">
        <h1>404 page not found</h1>
    </div>
</body>
