<%- include ../models/header.ejs %>
<head>
    <title>Reserveringsoverzicht</title>
    <link rel="stylesheet" href="reservation-overview.css">
    <script src="reservation-overview.js"></script>
</head>
<body>
<div class="content" id="content">
    <div class="header">
        <h1>Reserveringen</h1>
        <button>Nieuwe reservering<i class="plus fas fa-plus"></i></button>
        <div class="search">
            <input type="text" placeholder="zoeken">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <table>
        <tr>
            <th>Nummer</th>
            <th>Gast</th>
            <th>Aankomst</th>
            <th>Vertrek</th>
            <th>Object</th>
            <th>Status</th>
            <th>Totaal kosten</th>
            <th>Totaal betaald</th>
            <th>Openstaand</th>
            <th>Achterstand sinds</th>
            <th>Email</th>
            <th>Eerste aankomst</th>
            <th>Validatie status</th>
            <th>Aanmaakdatum</th>
            <th>Boekingswijze</th>
            <th>Telefoon</th>
            <th>Telefoon 2</th>
            <th>Adres</th>
            <th>Voorkeursboeking</th>
            <th>Plaats</th>
            <th>Kenteken</th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
</body>