/* global */
@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700';

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--brokenWhite);
}

body {
    display: flex;
}

a {
    text-decoration: none;
}

/* sidebar */
/*
    ! Changed CSS Grids to Flexbox, there is no need for complex layouts !
            * Make sure to add || display: flex; || => header.css:4
**/

/* General styling sidebar */
.sidebar { /* header.css:25 */
    width: 12vw;
    height: 100vh;
    background-color: var(--lightBlue);
    position: fixed;
    display: flex;
    flex-direction: column;
}

/**
Top Section Sidebar
    * General styling
    * Unordered list has been fixed
    * Elements have been centered properly
*/

.sidebar a {
    color: var(--brokenWhite);
}

.sidebar .top { /* header.css:48 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

.sidebar .top ul { /* header.css:38 */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 20vh;
}

.sidebar .top ul li { /* header.css:68 */
    list-style-type: none;
    text-align: center;
}

.sidebar .top, .sidebar .bottom {
    margin: 15% auto;
    width: 100%;
    text-align: center;
}

.sidebar .active, .sidebar .active a { /* header.css:85 */
    color: var(--blue);
    background-color: #ffffffff;
    border-radius: 25px;
    padding: .6em .8em;
}

/**
Bottom Section Sidebar
    * General styling
    * Class  name removed from button in: div.bottom > form.bottom -> form.bottom__form
    * Elements have been centered properly
*/

.sidebar .bottom { /* header.css:56 */
    display: flex;
    justify-content: center;
    position: relative;
    height: 50%;
    align-items: self-end;
}

.sidebar .bottom .bottom__form {
    height: 20vh;
    display: flex;
    align-items: center;
}

.sidebar .bottom .bottom__form .form__button { /*  header.css:77 */
    border: solid 2px var(--brokenWhite);
    color: var(--brokenWhite);
    background: none;
    padding: .8em 2em;
    border-radius: 25px;
    cursor: pointer;
}

/* button */

.buttons__add {
    border: 2px solid var(--blue);
    border-radius: 25px;
    background: var(--blue);
    color: white;
    display: flex;
    width: 14vw;
    padding: 1.1em;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    cursor: pointer;
}

/* Content */
/* General styling for content
    * Make sure to delete grid-column and padding-left: 5%
**/

.content { /* reservation-overview.css:1 */
    overflow-x: auto;
    overflow-y: auto;
    margin-left: 12vw; // Could also do calc(12vw + 50px);
    padding-left: 50px; // Do not use any calc() here, the padding affects the x-scrollbar
}

/* fancy scrollbarz */
.table::-webkit-scrollbar, .content::-webkit-scrollbar {
    width: 20px;
}

.table::-webkit-scrollbar-track, .content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.table::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb {
    background: var(--lightBlue);
    border-radius: 10px;
}

.table::-webkit-scrollbar-thumb:hover, .content::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}