@media only screen and ( min-width: 1080px ) {
    .login .login__container {
        width: 30%;
        height: 65vh;
    }

    .login .login__container .login__container__logo h4 {
        font-size: 1em;
    }

    .login__container .login__form {
        margin-top: 2.8em;
    }

    .login__container .login__form .login__form__group {
        width: 20vw;
        margin-bottom: 3em;
    }

    .login__container .login__form .btn {
        width: 12vw;
    }


}
