.content {
    overflow-x: auto;
    overflow-y: auto;
}

.data-entry {
    background-color: transparent;
    border: none;
    font-size: 12pt;
    text-align: center;
    color: var(--white);
}

/* header (not the sidebar esque header) */
.header {
    border-bottom: solid var(--grey) 1px;
    width: 400%;
    display: flex;
    margin-bottom: 20px
}

.header h1 {
    color: var(--blue);
}

.header .header__buttons {
    display: flex;
    align-items: center;
    width: 10.35%;
    justify-content: space-evenly;
}

.header .header__buttons .buttons_add,
.header .header__buttons .buttons__search {
    border-radius: 25px;
}

.header .header__buttons .buttons__search {
    display: flex;
    align-items: center;
    color: var(--blue);
    position: relative;
}

.header .header__buttons .buttons__search .fa-search {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.header .header__buttons .buttons__search .search__input {
    border: 2px solid var(--blue);
    background: none;
    outline: none;
    border-radius: 25px;
    padding: 1.1em 3.5em 1.1em 1.4em;
    width: 70%;
}

.header .header__buttons .buttons__search .search__input::placeholder {
    color: var(--blue);
    opacity: 1; /* Firefox */
}

.table {
    /*display: table-cell;*/
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 400%;
    z-index: 1;
}

.table td,
.table th {
    padding: 0;
}

.table td {
    height: 40px;
    text-align: center;
    overflow: hidden;
    color: white;
    font-weight: bold;
    border: 3px solid var(--darkBlue);
}

.table thead tr th {
    height: 50px;
    background-color: var(--blue);
    color: white;
    border-bottom: none;
}

.table tbody tr {
     border: 3px solid var(--blue);
 }

.table tbody:nth-child(odd) {
    background-color: var(--blue);
}

.table tbody:nth-child(even) {
    background-color: var(--primary-blue);
}