@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300';

:root {
    --primary-blue: #0492D0;
    --blue: #2EA8DD;
    --lightBlue: #68B2D4;
    --darkBlue: #006896;
    --white: #fffff;
    --brokenWhite: #f8f8f8;
    --grey: #BDBDBD;
    --yellow: #FFEA00;
    --black: #000000;
}

* {
    font-family: 'Montserrat';
}