<div class="add-guest-pop-up" id="add-guest-pop-up">
    <div class="pop-up__header">
        <h1>Gast toevoegen</h1>
        <div class="button-wrapper">
            <button class="close" onclick="hidePopUp()">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</div>