<div class="guest-pop-up" id="guest-pop-up">
    <div class="pop-up__header">
        <h1>Gast</h1>
        <div class="button-wrapper">
            <button class="close" onclick="hidePopUp()">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <form action="#">
        <div class="form__groups">
            <label id="number" for="number">
                <p>Nummer</p>
                <input id="number" name="number" type="text" value="<%= number %>">
            </label>
            <label id="guest" for="guest">
                <p>Naam</p>
                <input id="guest" name="guest" type="text" value="<%= result[0].name %>">
            </label>
            <label id="dateArrival" for="dateArrival">
                <p>Email</p>
                <input id="dateArrival" name="dateArrival" type="text" value="<%= result[0].email %>">
            </label>
            <label id="dateDeparture" for="dateDeparture">
                <p>Postcode</p>
                <input id="dateDeparture" name="dateDeparture" type="text" value="<%=result[0].zipCode%>">
            </label>
        </div>
    </form>
    <div class="buttons">
        <button class="buttons__add" type="button" onclick="updateEntry(this)">Kosten Toevoegen</button>
    </div>
</div>